.footer__title {
    font-size: var(--size-xs);
    font-weight: 400;
    color: var(--clr-slate600);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
  }


  .quote{
    color: var(--clr-slate600);
    font-size: var(--size-xl);
    font-weight: 500;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition :color 0.5s;
    width: 100%;
    flex-wrap: wrap;
   
}

.quote:hover{
  color: var(--clr-light);
}


.footerr__title{
  display: flex;
  justify-content: center;
  font-size: var(--size-3xl);
  color: var(--clr-light);
  font-weight: 1000;
}


.quote-innerdiv{
  display: flex;
  justify-content: end;
  width: 100%;
}




.quote-innerdiv{
  display: flex;
  justify-content: end;
  width: 100%;
}